@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

$color-dark-grey: #1a1a1b;
$color-light-grey: #333f44;
$color-white: #eeeeee;
$color-green: #4ecca3;
$color-orange: #f96d00;

html, body {
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-size: 0.625rem;
}

.container {
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 1500px;
  display: flex;
  padding: 2.5rem;

  > div {
    color: #eeeeee;
    height: 100%;
    display: flex;
    flex: 1;
    // align-items: center;
    justify-content: center;

    h2 {
      margin-top: 2rem;
    }
  }
}

div.left-mechanical {
  background-color: rgba($color: #000000, $alpha: 0.2);
  position: relative;
}

div.right-software {
  background-color: rgba($color: #000000, $alpha: 0.25);
  position: relative;
}

nav.left-nav {
  background-color: #ffb71c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  // margin-top: 3rem;

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;

    li a {
      text-decoration: none;
      color: #eeeeee;
      font-size: 1.1rem;
    }
  }
}