@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

$color-dark-grey: #1a1a1b;
$color-light-grey: #333f44;
$color-white: #eeeeee;
$color-green: #4ecca3;
$color-orange: #f96d00;

html, body {
  font-family: 'Varela Round', sans-serif;
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 10px;
}

.wrapper {
  background-color: rgba($color: #000000, $alpha: 0.2);
  border-radius: 20px;
  display: grid;
  margin: 5rem;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
}

.container-mechanical {
  background-color: #4ecca3;
  margin: 1rem 0;
  text-align: center;
}

.container-software {
  background-color: #f96d00;
  margin: 1rem 0;
  text-align: center;
}
